body {
	margin: 0;
	font-family: "capitana", sans-serif;
	background-color: #003e49;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	flex-direction: column;
	overflow: auto; /* Allow scrolling if content overflows */
}

div h1 {
	font-size: 25px;
}

.title {
	font-size: 40px;
	color: #ffc800;
	max-width: 100%; /* Ensure the title spans the full width */
}

.subtitle {
	margin-top: -10px;
}

.container {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%; /* Ensure content is vertically centered */
	padding: 20px;
	box-sizing: border-box;
	flex-grow: 1; /* Allow the container to grow and prevent overlap */
}

.hidden {
	opacity: 0;
	display: none; /* Ensure hidden containers do not interfere with layout */
}

h1,
h2 {
	max-width: 90%; /* Prevent text from falling off the screen */
	word-wrap: break-word;
}

h1 {
	margin-bottom: 20px; /* Ensure spacing between h1 and grid */
	flex-shrink: 0; /* Prevent h1 from shrinking when space is limited */
}

#reflectionText {
	max-width: 80vw;
	font-size: 25px;
}

button {
	background-color: white;
	color: #003e49;
	border: none;
	padding: 15px 30px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 0px;
}

#backButton {
	background-color: #58a0ac;
}

#wordGrid,
#selectedWords,
#finalWords {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 10px;
	width: 80%;
	margin: 20px auto;
	background-color: #00242a;
	padding: 20px;
}

#wordGrid {
	display: flex;
	flex-direction: column; /* Arrange categories vertically */
	align-items: center;
	margin-top: 0; /* Add margin to separate grid from heading */
	overflow: auto; /* Allow scrolling if the grid overflows */
	max-height: 300px; /* Adjust this value to control the vertical scale */
}

.wordButton {
	background-color: white;
	color: #003e49;
	border: none;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.wordButton.selected {
	background-color: #58a0ac;
	color: white;
}

#goalInput {
	width: 80%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px 0;
}

.categoryContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 10px;
	width: 100%; /* Ensure the container spans the full width */
	justify-content: center; /* Center the buttons within the container */
	margin-bottom: 20px;
}

#wordGrid h2 {
	color: #ffc800;
	margin: 20px 0 10px; /* Add spacing above and below the title */
	text-align: center; /* Center-align the category titles */
	width: 100%;
}
